version: "3.9"
services:
  land:
    image: "itech.azurecr.io/appn1:latest"
    ports:
      - "3000:3000"
  cosmic:
    image: "itech.azurecr.io/appn2:latest"
    ports:
        - "3200:3200"
  nginx:
    image: "nginx"
    volumes:
       - ./nginx.conf:/etc/nginx/nginx.conf
    ports: 
        - "80:80"
        - "443:443"
    depends_on: 
        - land
        - cosmic
    links:
        - land
        - cosmic
