version: "3.9"
services:
  land:
    image: "itech.azurecr.io/appn1:latest"
    ports:
      - "3000:3000"
  cosmic:
    image: "itech.azurecr.io/appn2:latest"
    ports:
        - "3200:3200"
  nginx:
    image: "nginx"
    ports: 
        - "80:80"
        - "443:443"
